/*

!.gitignore
!.profile
!.gdbinit
!.gitconfig
!.gitmodules
!.hunspell*
!.profile
!.readme
!.shell_env
!.zprofile
!.zshrc
!.Renviron
!.cache/neomutt/.keep

!.github
!.emacs.d
!.bin
!.oh-my-zsh

# Include .local/share/texmf
!.local
.local/*
!.local/share
.local/share/*
!.local/share/texmf
!.local/share/applications

!.stack
!.config
.config/*
!.config/config-deps
!.config/neomutt

!.ssh
.ssh/*
!.ssh/config