/*

!.gitignore
!.profile
!.gdbinit
!.gitconfig
!.gitmodules
!.hunspell*
!.profile
!.readme
!.shell_env
!.zprofile
!.zshrc
!.Renviron
!.cache/neomutt/.keep

!.github
!.emacs.d
!.bin
!.oh-my-zsh
!.mplayer

# Include .local/share/texmf
!.local
.local/*
!.local/share
.local/share/*
!.local/share/texmf
!.local/share/applications
.local/share/applications/*
!.local/share/applications/clickup.desktop
!.local/share/icons
.local/share/icons/*
!.local/share/icons/hicolor
.local/share/icons/hicolor/*
!.local/share/icons/hicolor/370x370
!.local/lib
.local/lib/*
!.local/lib/asdf

!.stack
.stack/*
!.stack/config.yaml
!.config
.config/*
!.config/config-deps
!.config/neomutt
!.config/asdf

!.ssh
.ssh/*
!.ssh/config
