[submodule ".emacs.d/language-servers/haskell-ide-engine"]
	path = .emacs.d/language-servers/haskell-ide-engine
	url = https://github.com/haskell/haskell-ide-engine
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/lisp/replace-colorthemes"]
	path = .emacs.d/lisp/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
[submodule "misc/config-deps/beamerthementnu"]
	path = misc/config-deps/beamerthementnu
	url = git@github.com:martstr/beamerthementnu.git
[submodule ".emacs.d/lisp/slurm.el"]
	path = .emacs.d/lisp/slurm.el
	url = https://github.com/truls/slurm.el
[submodule ".emacs.d/lisp/emacs-scihub"]
	path = .emacs.d/lisp/emacs-scihub
	url = https://github.com/truls/emacs-scihub
[submodule "/home/truls/.local/usr/local/lib/gdb-pretty-frame-cpp"]
	path = /home/truls/.local/usr/local/lib/gdb-pretty-frame-cpp
	url = https://github.com/philtweir/gdb-pretty-frame-cpp
