[submodule ".emacs.d/language-servers/haskell-ide-engine"]
	path = .emacs.d/language-servers/haskell-ide-engine
	url = https://github.com/haskell/haskell-ide-engine
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/lisp/replace-colorthemes"]
	path = .emacs.d/lisp/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
[submodule "misc/config-deps/beamerthementnu"]
	path = misc/config-deps/beamerthementnu
	url = git@github.com:martstr/beamerthementnu.git
[submodule ".emacs.d/lisp/slurm.el"]
	path = .emacs.d/lisp/slurm.el
	url = https://github.com/truls/slurm.el
[submodule ".emacs.d/lisp/emacs-scihub"]
	path = .emacs.d/lisp/emacs-scihub
	url = https://github.com/truls/emacs-scihub
[submodule "/home/truls/.local/usr/local/lib/gdb-pretty-frame-cpp"]
	path = /home/truls/.local/usr/local/lib/gdb-pretty-frame-cpp
	url = https://github.com/philtweir/gdb-pretty-frame-cpp
[submodule "misc/config-deps/emacs"]
	path = .config/config-deps/emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule "/home/truls/misc/config-deps/clang-format-hooks"]
	path = /home/truls/misc/config-deps/clang-format-hooks
	url = git@github.com:barisione/clang-format-hooks.git
[submodule "/home/truls/.emacs.d/lisp/lsp-latex"]
	path = /home/truls/.emacs.d/lisp/lsp-latex
	url = https://github.com/ROCKTAKEY/lsp-latex
[submodule ".emacs.d/lisp/fira-code"]
	path = .emacs.d/lisp/fira-code
	url = git@github.com:johnw42/fira-code-emacs.git
[submodule ".config/config-deps/gnome-pass-search-provider"]
	path = .config/config-deps/gnome-pass-search-provider
	url = git@github.com:jle64/gnome-pass-search-provider.git
[submodule ".local/share/texmf/tex/latex/ta-article"]
	path = .local/share/texmf/tex/latex/ta-article
	url = git@github.com:truls/ta-article.git
[submodule "toggle-theme"]
	path = .emacs.d/lisp/toggle-theme
	url = git@github.com:truls/toggle-theme
[submodule ".config/config-deps/digestif"]
	path = .config/config-deps/digestif
	url = https://github.com/astoff/digestif
