[user]
	name = Truls Asheim
	email = truls@asheim.dk
	signingkey = AF389129D71B2B90FAC34E81199047A147F6E48D
[branch]
	autoSetupMerge = always
	autosetuprebase = always
[commit]
	gpgsign = true
[color "diff"]
	plain = normal
	meta = bold
	frag = cyan
	old = red
	new = green
	commit = yellow
	whitespace = normal red
[color "branch"]
	current = green
	local = normal
	remote = red
	plain = normal
[color "status"]
	header = normal
	added = red
	updated = green
	changed = red
	untracked = red
	nobranch = red
[color "grep"]
	match = normal
[color "interactive"]
	prompt = normal
	header = normal
	help = normal
	error = normal
[github]
	user = truls
[gpg]
	program = gpg2
[pull]
	rebase = true
[credential "https://git.overleaf.com"]
	username = truls@asheim.dk
[credential]
	helper = libsecret
[rebase]
	autoStash = true
	interactive = true
	updateRefs = true
[diff]
	submodule = log
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	diff = false
	branch = false
[url "https://github.com/"]
	insteadOf = git://github.com/
