/*

!.gitignore
!.profile
!.gdbinit
!.gitmodules
!.hunspell*
!.profile
!.readme
!.shell_env
!.zprofile
!.zshrc
!.cache/neomitt/.keep
!.local/share/applications/org-protocol.desktop


!.github
!.emacs.d
!.bin
!.local/share/texmf/tex
!.config/config-deps
!.config/neomutt
!.config/systemd/user
!.stack