[submodule ".emacs.d/language-servers/haskell-ide-engine"]
	path = .emacs.d/language-servers/haskell-ide-engine
	url = https://github.com/haskell/haskell-ide-engine
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/lisp/replace-colorthemes"]
	path = .emacs.d/lisp/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
[submodule "misc/config-deps/beamerthementnu"]
	path = misc/config-deps/beamerthementnu
	url = git@github.com:martstr/beamerthementnu.git
