# Files
/.emacs.desktop
/lisp/my-secrets.el
/smex-items
/theme-state
/.last-package-update-day
/.lsp-session-v1
/network-security.data
/projectile-bookmarks.eld
/recentf
/session.*
/.emacs.desktop.lock
/bookmarks
/tramp
/.dap-breakpoints
/projectile.cache
/projects
/.org-generic-id-locations
/straight/build-cache.el
.org-id-locations
org-roam.db

# Folders
/backups/
/auto-saves/
/elpa/
/eln-cache/
/auto-save-list/
/.cask/
/.cache/
/url/
/transient/
/straight/build/
/straight/repos/