# Files
.emacs.desktop
lisp/my-secrets.el
smex-items
theme-state
.last-package-update-day
.lsp-session-v1
network-security.data
projectile-bookmarks.eld
recentf
session.*
.emacs.desktop.lock
bookmarks
tramp
.dap-breakpoints
projectile.cache

# Folders
backups/
auto-saves/
elpa/
eln-cache/
auto-save-list/
.cask/
.cache/
url/
transient/
